@import "assets/styles/styles";

.TimeseriesChart {
  background: $white;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.05);
  text-align: center;
  position: relative;
  font-family: $mono-font;
  font-weight: 400;

  // &.expanded {

  // }

  .TimeseriesChart-Heading {
    @extend .bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
  }

  .TimeseriesChart-Actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;

    button {
      border-radius: 50%;
      border-color: $light-gray;
      &:active,
      &:focus {
        border-color: $black;
      }
    }
  }
}

.AxisLabel {
  display: inline-block;
  border-radius: 3px;
  margin: 5px 5px 0;
  overflow: hidden;
  line-height: 1.5rem;
  font-size: 0.7rem;
  font-weight: 400;

  .AxisLabel-Item {
    display: inline-block;
    padding: 0px 8px;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    background: $mid-gray;
    color: $white;
  }

  .AxisLabel-Text {
    display: inline-block;
    padding: 0px 8px;
  }
}
