{
    "nodes": [
{% for node_id in range(1, scale + 1) %}
        {
            "externally_routable_ip": "docker-rp-{{node_id}}",
            "ssh_config": {
                "host": "docker-rp-{{node_id}}",
                "hostname": "docker-rp-{{node_id}}",
                "identityfile": "/root/.ssh/id_rsa",
                "password": "UNUSED",
                "port": 22,
                "user": "root"
            }
        }{{ ", " if not loop.last else "" }}
{% endfor %}
    ]
}
