// Families
$primary-font: "KumbhSans", sans-serif;
$secondary-font: "KumbhSans", sans-serif;
$mono-font: "Courier Prime", source-code-pro, Menlo, Monaco, Consolas,
  "Courier New", monospace;

// Sizes
$main-font-size: 1.6rem;
$main-font-height: 2.6rem;

$h1-font-size: 3rem;
$h1-font-height: 4rem;

$h2-font-size: 3rem;
$h2-font-height: 4rem;

$h3-font-size: 2rem;
$h3-font-height: 3rem;

$h4-font-size: 2rem;
$h4-font-height: 3rem;

$small-font-size: 1.4rem;
$small-font-height: 2.4rem;

$micro-font-size: 1rem;
$micro-font-height: 2rem;

$code-font-size: 1rem;
$code-font-height: 2rem;
