# ignore everything except toolchain stuff whitelisted below
**/*

# base
!/vtools/scripts/install-deps.sh

!/vtools/
# vtools
!/vtools/vtools

# vtools configs
!/vtools/vtools/artifacts/ci/vtools*.yml

# rpk
!/src/go/rpk/go.mod
!/src/go/rpk/go.sum
!/src/go/k8s/go.mod
!/src/go/k8s/go.sum
!/src/go/metrics/go.mod
!/src/go/metrics/go.sum

# clang
!/cmake/caches/llvm.cmake
!/vtools/vtools/vlib/clang.py

# external projects
!/3rdparty.cmake.in
!/vtools/vtools/vlib/cmake.py
!/cmake/dpdk_configure.cmake
!/cmake/*

# rp
!/CMakeLists.txt

# node
!/src/js/package.json
!/src/js/package-lock.json
!/src/js/generate-entries.sh
