# ignore everything except toolchain stuff whitelisted below
**/*

# vtools
!/tools/install-deps.sh
!/tools/setup.py
!/tools/tox.ini
!/tools/README.md
!/tools/requirements.txt
!/tools/requirements-dev.txt
!/tools/vtools
!/tools/ci/vtools*.yml
!/tools/ci/scripts/remove-zlib.sh

# rpk
!/src/go/go.mod
!/src/go/go.sum

# clang
!/cmake/caches/llvm.cmake

# external projects
!/3rdparty.cmake.in

# rp
!/CMakeLists.txt
