# ignore everything except toolchain stuff below
**/*

# os packages
!tools/install-deps.sh

# llvm
!cmake/caches/llvm.cmake

# external projects
!CMakeLists.txt
!3rdparty.cmake.in
!cmake/FindLibCxx.cmake
