*                          @senior7515 @dotnwat
/cmake/                    @benpope @ivotron
/conf/                     @0x5d
/docs/                     @bmansheim
/src/go/                   @0x5d @mmaslankaprv
/src/consistency-testing/  @rystsov
/src/v/bytes/              @senior7515 @dotnwat
/src/v/cluster/            @senior7515 @dotnwat @mmaslankaprv
/src/v/coproc/             @graphcareful @dotnwat
/src/v/pandaproxy/         @benpope @dotnwat
/src/v/raft/               @senior7515 @dotnwat @mmaslankaprv
/src/js/                   @0x5d @andresaristizabal
