apache-beam==2.48.0
apache-flink==1.18.0
apache-flink-libraries==1.18.0
avro-python3==1.10.2
beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
cloudpickle==2.2.1
confluent-kafka==2.3.0
crcmod==1.7
dill==0.3.1.1
dnspython==2.4.2
docopt==0.6.2
ducktape==0.11.4
fastavro==1.9.0
fasteners==0.19
find-libpython==0.3.1
google==3.0.0
google-api-core==2.13.0
google-auth==2.23.4
googleapis-common-protos==1.61.0
grpcio==1.59.2
hdfs==2.7.3
httplib2==0.22.0
idna==3.4
kafka-python==2.0.2
numpy==1.24.4
objsize==0.6.1
orjson==3.9.10
pandas==2.1.2
pemja==0.3.0
proto-plus==1.22.3
protobuf==4.23.4
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydot==1.4.2
pyflink==1.0
pymongo==4.6.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.10.3
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
zstandard==0.22.0
