# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
*override.tf
*override.tf.json
*.tfvars

*.zip
aws
bin