Source: redpanda  
Maintainer: Vectorized <Hi@vectorized.io>
Standards-Version: 3.9.5
Section: misc
Priority: optional

Package: redpanda
Homepage: http://vectorized.io
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: {{desc}}