@import "assets/styles/styles";

.GraphSelector {
  display: grid;
  grid-template-columns: 200px 30px 30px;
  grid-gap: 2px;

  select {
    text-transform: capitalize;
    font-family: $mono-font;
    font-weight: 500;
    option {
      text-transform: capitalize;
    }
  }
}
