config_diagnostics = 1
openssl_conf = openssl_init
.include /home/mboquard/dev/redpanda/vbuild/release/clang/rp_deps_install/openssl/fipsmodule.cnf

[openssl_init]
providers = provider_sect
alg_section = algorithm_sect

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1

[algorithm_sect]
default_properties = fips=yes