#!/usr/bin/make -f

export PYBUILD_DISABLE=1
jobs := $(shell echo $$DEB_BUILD_OPTIONS | sed -r "s/.*parallel=([0-9]+).*/-j\1/")

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_clean:

override_dh_auto_install:
	dh_auto_install
	install -d $(CURDIR)/debian/redpanda/usr/bin
	ln -sf /opt/redpanda/bin/redpanda $(CURDIR)/debian/redpanda/usr/bin/redpanda
	ln -sf /opt/redpanda/bin/rpk $(CURDIR)/debian/redpanda/usr/bin/rpk
	ln -sf /opt/redpanda/bin/iotune $(CURDIR)/debian/redpanda/usr/bin/iotune

override_dh_installinit:
	# .slice files aren't supported by dh_installinit or dh_installsystemd
	# (see `man 1 dh_installinit` & `man 1 dh_installsystemd`), so they're
	# installed in redpanda.install.
	dh_installinit --name=redpanda
	dh_installinit --name=redpanda-tuner

override_dh_makeshlibs:

override_dh_shlibdeps:

override_dh_fixperms:
	dh_fixperms
	chmod -R 755 $(CURDIR)/debian/redpanda/opt/redpanda/lib

override_dh_strip_nondeterminism:

%:
	dh $@
