networks:
  redpanda-test:
    driver: bridge

services:

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    container_name: minio-s3
    hostname: minio-s3
    init: true
    command: server /data
    environment:
      MINIO_REGION_NAME: panda-region
      MINIO_ROOT_PASSWORD: panda-secret
      MINIO_ROOT_USER: panda-user
      MINIO_BROWSER: "off"
    expose:
      - "9000"
    healthcheck:
      interval: 30s
      retries: 3
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      timeout: 20s
    networks:
      - redpanda-test

{% for i in range(1, nodes + 1) %}
  rp-{{ i }}:
    image: {{ node_image }}
    container_name: rp-{{ i }}
    hostname: rp-{{ i }}
    init: true
    ulimits:
      nofile:
        soft: 131072
        hard: 131072
    sysctls:
      net.ipv4.ip_local_port_range: "34000 60999"
    depends_on:
      - minio
    networks:
      - redpanda-test

{% endfor %}
  ducktape-runner:
    image: {{ runner_image }}
    container_name: ducktape-runner
    hostname: ducktape-runner
    init: true
    ulimits:
      nofile:
        soft: 131072
        hard: 131072
    sysctls:
      net.ipv4.ip_local_port_range: "34000 60999"
    environment:
      DUCKTAPE_TEST_ARGS: '{{ test_args }}'
      DUCKTAPE_MAX_PARALLEL: "{{ max_parallel }}"
      DUCKTAPE_TEST_TIMEOUT: "{{ test_timeout }}"
      DUCKTAPE_DISABLE_FAULTS: "{{ '1' if disable_faults else '0' }}"
      BUILD_TYPE: release
    depends_on:
{% for i in range(1, nodes + 1) %}
      - rp-{{ i }}
{% endfor %}
      - minio
    networks:
      - redpanda-test
