{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts",
    "modules/domain/generatedRpc/**",
    "modules/rpc/serverAndClients/**",
    "modules/rpc/service.ts",
    "test/utilities/CoprocessorTest.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}