@import "assets/styles/styles";

.App {
  /* Header styles */
  > header {
    display: flex;
    justify-content: right;
    align-items: center;

    padding: 1.5em 1em;
    background: $light-gray;

    div {
      margin-right: 2em;
      text-align: left;
    }

    dt {
      font-weight: bold;
      font-size: 0.7em;
      text-transform: uppercase;
      margin: 0;
    }

    dd {
      margin: 0;
      font-family: $mono-font;
      height: 30px;
      line-height: 30px;
    }
  }

  /* Main Styles */
  > main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2em;
    padding: 1em;
  }

  /* Footer styles */
  > footer {
    padding: 1em;

    ul {
      padding: 0;
      list-style: none;
      display: flex;

      li {
        margin-right: 1em;
      }
    }
  }
}
