@font-face {
  font-family: "KumbhSans";
  font-weight: normal;
  font-style: normal;
  src: local("example"), url("./KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KumbhSans";
  font-weight: 300;
  font-style: normal;
  src: local("example"), url("./KumbhSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "KumbhSans";
  font-weight: bold;
  font-style: normal;
  src: local("example"), url("./KumbhSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: normal;
  font-style: normal;
  src: local("example"), url("./CourierPrime-Regular.ttf") format("truetype");
}
