@charset "UTF-8";

@font-face {
  font-family: "vectorized-cloud";
  src: url("../../fonts/icons/vectorized-cloud.eot");
  src: url("../../fonts/icons/vectorized-cloud.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/icons/vectorized-cloud.woff") format("woff"),
    url("../../fonts/icons/vectorized-cloud.ttf") format("truetype"),
    url("../../fonts/icons/vectorized-cloud.svg#vectorized-cloud") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "vectorized-cloud" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vectorized-cloud" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\61";
}
.icon-dropdown:before {
  content: "\62";
}
.icon-edit:before {
  content: "\63";
}
.icon-exit:before {
  content: "\64";
}
.icon-plus:before {
  content: "\65";
}
.icon-search:before {
  content: "\66";
}
