Name:       {{name}}
Version:    {{version}}
Summary:    {{summary}}
Release:    {{release}}
License:    {{license}}
URL:        https://vectorized.io
Source0:    {{source_tar}}

AutoReqProv:    no

%description
{{desc}}
%prep

%global _debugsource_template %{nil}
%global debug_package %{nil}
%global _debuginfo_subpackages %{nil}
%global _build_id_links alldebug
%setup -c

%undefine _find_debuginfo_dwz_opts

%pre
getent group redpanda || /usr/sbin/groupadd redpanda 2> /dev/null || :
getent passwd redpanda || /usr/sbin/useradd -g redpanda -s /sbin/nologin -r -d %{_sharedstatedir}/redpanda redpanda 2> /dev/null || :



%install
rm -rf "%{buildroot}"
# directory tree
install -m 0755 -d "%{buildroot}%{_prefix}"
install -m 0755 -d "%{buildroot}%{_prefix}/bin"
install -m 0755 -d "%{buildroot}%{_prefix}/lib/systemd/system"
install -m 0755 -d "%{buildroot}%{_prefix}/lib/redpanda"
install -m 0755 -d "%{buildroot}/etc"
install -m 0755 -d "%{buildroot}/etc/redpanda"
install -m 0755 -d "%{buildroot}/etc/redpanda.d"
install -m 0755 -d "%{buildroot}/etc/redpanda/admin-api-doc"
install -m 0755 -d "%{buildroot}/etc/redpanda/admin-api-doc"

install -m 0755  -d "%{buildroot}/opt/redpanda/bin"
install -m 0755  -d "%{buildroot}/opt/redpanda/lib"
install -m 0755  -d "%{buildroot}/opt/redpanda/libexec"
install -m 0755  -d "%{buildroot}/opt/redpanda/libexec"

install -m755 -d "%{buildroot}"/var/lib/redpanda/
install -m755 -d "%{buildroot}"/var/lib/redpanda/data
install -m755 -d "%{buildroot}"/var/lib/redpanda/coredump

# install files
install -m755 bin/* -Dt "%{buildroot}/opt/redpanda/bin"
install -m755 libexec/*.bin -Dt "%{buildroot}/opt/redpanda/libexec"
install -m755 lib/* -Dt "%{buildroot}/opt/redpanda/lib"
install -m644 %{_topdir}/common/systemd/50-redpanda.preset -Dt "%{buildroot}%{_prefix}/lib/systemd/system-preset"
install -m644 %{_topdir}/common/systemd/redpanda.slice -Dt "%{buildroot}%{_prefix}/lib/systemd/system"
install -m644 %{_topdir}/common/systemd/redpanda.service -Dt "%{buildroot}%{_prefix}/lib/systemd/system"
install -m644 %{_topdir}/common/systemd/redpanda-tuner.service -Dt "%{buildroot}%{_prefix}/lib/systemd/system"
install -m644 %{_topdir}/common/redpanda.d/*.conf -Dt "%{buildroot}/etc/redpanda.d"
install -m644 %{_topdir}/common/sysconfig/redpanda -Dt "%{buildroot}/etc/sysconfig"
install -m644 %{_topdir}/common/sysctl.d/*  -Dt "%{buildroot}%{_prefix}/lib/sysctl.d"
# use cp to preserve the symbolic links
cp -P libexec/redpanda "%{buildroot}/opt/redpanda/libexec"
cp -P libexec/rpk "%{buildroot}/opt/redpanda/libexec"
cp -P libexec/iotune "%{buildroot}/opt/redpanda/libexec"
cp -P libexec/hwloc-calc "%{buildroot}/opt/redpanda/libexec"
cp -P libexec/hwloc-distrib "%{buildroot}/opt/redpanda/libexec"
install -m644 conf/redpanda.yaml -Dt "%{buildroot}/etc/redpanda"
install -m644 etc/redpanda/admin-api-doc/config.json -Dt "%{buildroot}/etc/redpanda/admin-api-doc"
install -m644 etc/redpanda/admin-api-doc/header.json -Dt "%{buildroot}/etc/redpanda/admin-api-doc"
# bin links
ln -srf "%{buildroot}/opt/redpanda/bin/redpanda" "%{buildroot}%{_prefix}/bin/redpanda"
ln -srf "%{buildroot}/opt/redpanda/bin/rpk" "%{buildroot}%{_prefix}/bin/rpk"
ln -srf "%{buildroot}/opt/redpanda/bin/iotune" "%{buildroot}%{_prefix}/bin/iotune"
# scripts
install -m755 %{_topdir}/common/scripts/* -Dt "%{buildroot}/%{_prefix}/lib/redpanda"
%files
%defattr(-,root,root)
%attr(0755,root,root) %dir %{_sysconfdir}/redpanda
%config(noreplace) %{_sysconfdir}/redpanda/redpanda.yaml
%config(noreplace) %{_sysconfdir}/sysconfig/redpanda
%attr(0755,root,root) %dir %{_sysconfdir}/redpanda.d
%config(noreplace) %{_sysconfdir}/redpanda.d/*.conf
%attr(0755,redpanda,redpanda) %dir %{_sharedstatedir}/redpanda/
%attr(0755,redpanda,redpanda) %dir %{_sharedstatedir}/redpanda/data
%attr(0755,redpanda,redpanda) %{_prefix}/lib/redpanda/*

/opt/redpanda/bin/*
/opt/redpanda/lib/*
/opt/redpanda/libexec/*
%{_bindir}/redpanda
%{_bindir}/rpk
%{_bindir}/iotune
%{_prefix}/lib/systemd/system-preset/50-redpanda.preset
%{_prefix}/lib/systemd/system/redpanda.slice
%{_prefix}/lib/systemd/system/redpanda.service
%{_prefix}/lib/systemd/system/redpanda-tuner.service
%{_prefix}/lib/sysctl.d/99-redpanda-sched.conf
%{_prefix}/lib/sysctl.d/99-redpanda-aio.conf
/etc/redpanda/admin-api-doc/config.json
/etc/redpanda/admin-api-doc/header.json

%ldconfig_scriptlets

%global __brp_mangle_shebangs_exclude_from save_coredump|hwloc-calc|iotune|redpanda|rpk|hwloc-distrib

%post
%systemd_post redpanda.slice redpanda.service redpanda-tuner.service
/usr/lib/systemd/systemd-sysctl 99-redpanda-sched.conf >/dev/null 2>&1 || :
/usr/lib/systemd/systemd-sysctl 99-redpanda-aio.conf >/dev/null 2>&1 || :

%preun
%systemd_preun redpanda.slice redpanda.service redpanda-tuner.service

%postun
%systemd_postun

%posttrans
ln -sfT /etc/redpanda /var/lib/redpanda/conf

%clean
#rm -rf "%{buildroot}"

%changelog
# let's skip this for now
