[Unit]
Description=Redpanda Tuner
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target

[Service]
Type=oneshot
{%if debian %}
EnvironmentFile=/etc/default/redpanda
{% endif %}
{%if redhat %}
EnvironmentFile=/etc/sysconfig/redpanda 
{% endif %}
EnvironmentFile=/etc/redpanda.d/*.conf
ExecStart=/usr/bin/rpk tune all $CPUSET
RemainAfterExit=true
TimeoutStartSec=900
KillMode=none
User=root
StandardOutput=syslog
StandardError=syslog
SyslogLevelPrefix=false

[Install]
WantedBy=multi-user.target
