[Unit]
Description=Redpanda Status Timer
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target
PartOf=redpanda.service

[Timer]
Unit=redpanda-status.service
OnActiveSec=30s
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
