[Unit]
Description=Redpanda, the fastest queue in the West.
After=local-fs.target network-online.target redpanda-tuner.service
Requires=local-fs.target network-online.target
Wants=redpanda-tuner.service


[Service]
PermissionsStartOnly=true
Type=simple
LimitMEMLOCK=infinity
LimitNOFILE=800000
LimitAS=infinity
LimitNPROC=8096
{%if debian %}
EnvironmentFile=/etc/default/redpanda
{% endif %}
{%if redhat %}
EnvironmentFile=/etc/sysconfig/redpanda 
{% endif %}
EnvironmentFile=/etc/redpanda.d/*.conf
ExecStart=/usr/bin/rpk start $START_ARGS $CPUSET
TimeoutStartSec=900
KillMode=process
Restart=on-abnormal
User=redpanda
OOMScoreAdjust=-950
StandardOutput=syslog
StandardError=syslog
SyslogLevelPrefix=false
Slice=redpanda.slice
AmbientCapabilities=CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
