@import "../constants/typography";
@import "../constants/colors";

* {
  font-family: $primary-font;
}

body {
  margin: 0;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f7f6;
  color: $black;
  letter-spacing: 0.025rem;
  font-size: 16px;
  line-height: 20px;
}

h1,
.h1 {
  margin: 0;

  font-size: $h1-font-size;
  font-weight: bold;
  line-height: $h1-font-height;
}

h2,
.h2 {
  margin: 0;

  font-size: $h2-font-size;
  font-weight: normal;
  line-height: $h2-font-height;
}

h3,
.h3 {
  margin: 0;

  font-size: $h2-font-size;
  font-weight: bold;
  line-height: $h2-font-height;
}

h4,
h5,
.h4 {
  margin: 0;

  font-size: $h4-font-size;
  font-weight: 300;
  line-height: $h4-font-height;
}

h6,
.h6 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

p,
.invalid-feedback {
  margin: 0;

  font-size: $main-font-size;
  font-weight: 300;
  line-height: $main-font-height;
}

small,
.small {
  font-size: $small-font-size;
  font-weight: 300;
  line-height: $small-font-height;
}

.micro {
  font-size: $micro-font-size;
  font-weight: 300;
  line-height: $micro-font-height;
}

code,
.code {
  font-size: $code-font-size;
  line-height: $code-font-height;
  font-family: $mono-font;
}

a {
  color: $black;
  font-weight: 600;

  &:hover,
  &:active,
  &:focus {
    color: $red;
    outline: none !important;
  }
}

.bold {
  font-weight: bold;
}
