# Copyright 2021 Vectorized, Inc.
#
# Use of this software is governed by the Business Source License
# included in the file licenses/BSL.md
#
# As of the Change Date specified in that file, in accordance with
# the Business Source License, use of this software will be governed
# by the Apache License, Version 2.0

name: helm chart test
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  helm-test:
    runs-on: ubuntu-latest

    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.5.2

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2.0.1
      with:
        version: v3.3.1

    - name: Adding prometheus helm repository
      working-directory: src/go/k8s/helm-chart/charts
      run: helm repo add prom https://prometheus-community.github.io/helm-charts

    - name: Run chart-testing (lint)
      working-directory: src/go/k8s/helm-chart/charts
      run: ct lint --debug --config ci/ct.yaml

    - name: Unit tests & Integration tests & Helm E2E tests
      working-directory: src/go/k8s/
      run: make helm-e2e-tests
      shell: bash

    - name: Archive test data
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: kuttl helm test artifacts
        path: src/go/k8s/tests/_helm_e2e_artifacts
