name: Lint cpp

on:
  push:
    branches:
      - 'dev'
    paths:
      - '**.h'
      - '**.cc'
      - '**.cpp'
      - '**.proto'
      - '**.java'
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - '**.h'
      - '**.cc'
      - '**.cpp'
      - '**.proto'
      - '**.java'

jobs:
  cpp:
    name: Lint files with clang-format
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install clang-format
      run: sudo apt install clang-format-16
    - name: Run clang-format
      run:  find . -type f -regex '.*\.\(cpp\|h\|hpp\|cc\|proto\|java\)' | xargs -n1 clang-format-16 -i -style=file -fallback-style=none"
    - name: Check results
      run: git diff --exit-code
