name: Lint cpp

on:
  push:
    branches:
      - 'dev'
    paths:
      - '**.h'
      - '**.cc'
      - '**.cpp'
      - '**.proto'
      - '**.java'
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - '**.h'
      - '**.cc'
      - '**.cpp'
      - '**.proto'
      - '**.java'

jobs:
  cpp:
    name: Lint files with clang-format
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run clang-format
      run: |
        docker run \
        -v $PWD:/redpanda ubuntu:noble \
        bash -c "cd /redpanda && \
          apt update && \
          apt install -y git clang-format-18  && \
          find . -type f -regex '.*\.\(cpp\|h\|hpp\|cc\|proto\|java\)' | xargs -n1 clang-format-18 -i -style=file -fallback-style=none"
        git diff --exit-code
