# Copyright 2020 Redpanda Data, Inc.
#
# Use of this software is governed by the Business Source License
# included in the file licenses/BSL.md
#
# As of the Change Date specified in that file, in accordance with
# the Business Source License, use of this software will be governed
# by the Apache License, Version 2.0

name: rpk
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
      - dev
    paths:
      - .github/workflows/rpk-build.yml
      - src/go/rpk

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        os: [linux, darwin, windows]
        arch: [amd64, arm64]
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: stable

      - name: Run tests
        working-directory: src/go/rpk/
        run: go test -v ./...
