# Copyright 2020 Vectorized, Inc.
#
# Use of this software is governed by the Business Source License
# included in the file licenses/BSL.md
#
# As of the Change Date specified in that file, in accordance with
# the Business Source License, use of this software will be governed
# by the Apache License, Version 2.0

name: Go
on:
  push:
    tags: 'release-*'
    branches:
      - '*'
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Test and Build
    strategy:
      matrix:
        os: [linux, darwin]
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.13.6
      id: go

    - name: Set up Node
      uses: actions/setup-node@v2-beta
      with:
        node-version: '12.16.1'

    - name: Generate WASM deps
      working-directory: src/go/rpk
      run: |
        ./gen_deps.sh

    - name: Test
      working-directory: src/go/rpk/
      run: go test -v ./...

    - name: Build
      working-directory: src/go/rpk/
      run: |
        pkg='vectorized/pkg/cli/cmd/version'
        tag=$(echo ${{ github.ref }} | sed 's;refs/tags/;;g')

        GOOS=${{ matrix.os }} GOARCH=amd64 ./build.sh $tag ${{ github.sha }} 

    - name: Package
      working-directory: src/go/rpk/
      run: |
        zip -j rpk-${{ matrix.os }}-amd64.zip ./${{ matrix.os }}-amd64/rpk

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      if: startsWith(github.ref, 'refs/tags/release-')
      with:
        name: rpk-archives
        path: |
          src/go/rpk/rpk-*.zip

  create-release:
    name: Create release
    needs: build
    if: startsWith(github.ref, 'refs/tags/release-')
    runs-on: ubuntu-latest
    steps:
    - name: Create rpk release
      id: create_rpk_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        draft: true
        prerelease: false
    outputs:
      urload_url: ${{ steps.create_rpk_release.outputs.upload_url }

  publish-release-artifacts:
    name: Publish release
    needs: create-release
    if: startsWith(github.ref, 'refs/tags/release-')
    strategy:
      matrix:
        os: [linux, darwin]
    runs-on: ubuntu-latest
    steps:
    - name: Download compressed rpk artifacts 
      uses: actions/download-artifact@v2

    - name: Upload rpk artifacts to release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create-release.outputs.upload_url }} 
        asset_path: rpk-archives/rpk-${{ matrix.os }}-amd64.zip
        asset_name: rpk-${{ matrix.os }}-amd64.zip
        asset_content_type: application/zip
